body {
    background-color: whitesmoke;
    font-family: 'Ubuntu', sans-serif;
    display:inline-block;
}
.prod-page{
    position: relative;
    font-size: 35px;
    margin-top: 40%;
    margin-left: -85px;
    left: 190%;
}

/* button CSS */
#button-add, #button-dispatch, #button-look{
    border: 1px solid #47ba6b;
    background: transparent;
    font-size: 20px;
    color: #47ba6b;
    font-weight: 200;
    padding: 15px 30px;
    display: inline-block;
    margin: 0px 30px;
    margin-top: 50%;
    border-radius: 25px 25px;
    cursor: pointer;
}
#button-add:hover, #button-dispatch:hover, #button-look:hover, .add-product:hover,.dispatched:hover,.lookfor:hover{
    text-decoration: none;
    color: #fff;
    background: #47ba6b;
    transition: background 0.5s ease,
    padding 0.8s linear;
  }
.center {
    display:inline-flex;
    margin: 0;
    position:fixed;
    top: 20%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.logout{
    color: black;
    font-size: 25px;
    position:fixed;
    margin-top: 20%;
    margin-left: 47%;
}
.logout:hover {
    color:green;
    background-color: transparent;
    text-decoration: none;
}
  /* The popup form - hidden by default */
.add-prod-modal,.dispatch-prod-modal,.look-prod-modal {
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.7);
    position: fixed;
    top:0;
    display:flex;
    justify-content: center;
    align-items: center ;
    display: none;
}

.add-modal-content,.dispatch-modal-content,.look-modal-content {
    width: 350px;
    height:240px;
    background-color: white;
    border-radius: 6px;
    padding: 5px 3px;
    position: relative;
}

input,.prod-categorie{
    width: 70%;
    display: block;  
    margin: 10px auto;
    font-size: 16px;
}

.close-add,.close-dispatch,.close-look{
    position:absolute;
    right: 14px;
    font-size: 30px;
    transform: rotate(45deg);
    cursor: pointer;
}

 /* button inside the add, dispatch, look for product buttons */
.add-product,.dispatched,.lookfor{
    border: 1px solid #47ba6b;
    background: transparent;
    font-size: 16px;
    color: #47ba6b;
    padding: 8px 10px;
    display: inline-block;
    margin-top: 7%;
    margin-left: 35%;
    border-radius: 20px 20px;
    cursor: pointer;
}

  