<html !DOCKTYPE>
    <head>
        <link rel="stylesheet" href="../static/css/homepage.css">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- <link rel="stylesheet" href=""> -->
        <title> homepage</title>
    </head>

    <body>
        <h1 class="heading"> Welcome! admin </h1>
        <div class="container">
            <div class="center">
                <a class="button Products" href="../products page/productspage.html" style="text-decoration: none;">Products</a>
                <a class="button Orders" href="../orders page/orderspage.html" style="text-decoration: none;">Orders</a>
                <button class="button Cutomers">Customers</button>
            </div>
        </div>
        <a class="logout" align="center" href="../loginpage/login .html" style="text-decoration: none;">Logout</a>
        <!-- <footer class="footer">
            <ul class="footer-list">
                <li class="list-inline-home"><a href="#">Home</a></li>
                <li class="list-inline-Aboutus"><a href="#">About Us</a></li>
                <li class="list-inline-logout"><a href="#">Logout</a></li>
            </ul>
        </footer>  -->
    </body>
</html>