<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/css/login.css"  />
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>LandingPage</title>
</head>
<body>
<div class="main">
    <p class="sign" align="center">Welcome to Warehouse Management System <br><br> Please signin as admin</p>
    <form class="form">
        <img src="../static/images/adminlogo2.png" align = "center" alt="Avatar" class="avatar">
        <input class="admin" type="text" align="center" placeholder="admin">
        <input class="pass" type="password" align="center" placeholder="Password">
        <a class="login" align="center">Login</a>
        <p class="forgot" align="center"><a href="#"></a>Forgot Password?</p>
    </form>
</div>
</body>
</html>